* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  max-width: 400px;
}

.square {
  width: 16px;
  height: 16px;
  background: rgb(53, 53, 53);
  margin: 2px;
  box-shadow: 0 0 2px black;
  transition: all 1.5s ease;
}

.square:hover {
  transition-duration: 0s;
}
